.git
.gitignore
.env
.venv
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__/
*.py[cod]
*.pdf
.coverage
coverage.xml
htmlcov/
build/
dist/
wheels/
*.egg-info/
dados/
graficos/
testes/
docs/
*.md
*.MD
Dockerfile*
compose*.yml
compose*.yaml
